<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Meu Primeiro Portal Spring Boot</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Meu Primeiro Portal Spring Boot</h1>
        <a href="/portal">Página inicial</a>
        <a href="/servicos">Servicos</a>
        <a href="/contato">Contatos</a>
        <p>O padrão MVC é um design pattern que usa o M(model), V(view) e C(controller). O model é o modelo das classes, o view são as telas do projeto, ou seja, a comunicação visual com o usuário. E por fim o controller gerencia os dados e funções da aplicação</p>
    </body>
</html>
